.home{
    display: flex;
    
    
    .homecontainer{
        width: 100%;
        align-items: center;
        justify-content: center;    
        flex: 6;
        
        .widgets{
            border-radius: 1rem;
            // display: flex;
            padding: 20px;
            gap: 20px;
        }

        .charts{
            padding: 5px 20px;
            border-radius: 1rem;
            // gap: 20px;
        }
    }
}